In [10]:
# импортируем библиотеки
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [11]:
path = '../../data/_data.csv'
df = pd.read_csv(path, index_col=0)

In [12]:
pd.set_option('display.max_columns', 20)
df.head(3)

,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23368 entries, 0 to 23367
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID  объявления            23368 non-null  int64
 1   Количество комнат         22327 non-null  object
 2   Тип                       23368 non-null  object
 3   Метро                     22053 non-null  object
 4   Адрес                     23368 non-null  object
 5   Площадь, м2               23368 non-null  object
 6   Дом                       23368 non-null  object
 7   Парковка                  9951 non-null   object
 8   Цена                      23368 non-null  object
 9   Телефоны                  23368 non-null  object
 10  Описание                  23368 non-null  object
 11  Ремонт                    20613 non-null  object
 12  Площадь комнат, м2        14458 non-null  object
 13  Балкон                    15390 non-null  object
 14  Окна                      16755 non-null  object
 15  Санузел                   20696 non-null  object
 16  Можно с детьми/животными  17272 non-null  object
 17  Дополнительно             23011 non-null  object
 18  Название ЖК               5848 non-null   object
 19  Серия дома                2163 non-null   object
 20  Высота потолков, м        11206 non-null  float64
 21  Лифт                      17868 non-null  object
 22  Мусоропровод              12846 non-null  object
 23  Ссылка на объявление      23368 non-null  object
dtypes: float64(1), int64(1), object(22)
memory usage: 4.5+ MB

In [14]:
# удалим столбец 'Ссылка на объявление'
df.drop(columns=['Ссылка на объявление'], axis=1, inplace=True)

In [15]:
df.columns

Index(['ID  объявления', 'Количество комнат', 'Тип', 'Метро', 'Адрес',
       'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание',
       'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод'],
      dtype='object')

In [16]:
# переименуем столбцы
df.rename(columns={'ID  объявления': 'id_ads',
                   'Количество комнат': 'number_rooms',
                   'Тип': 'type',
                   'Метро': 'subway',
                   'Адрес': 'address',
                   'Площадь, м2': 'area_m2',
                   'Дом': 'house',
                   'Парковка': 'parking',
                   'Цена': 'price',
                   'Телефоны': 'phones',
                   'Описание': 'description',
                   'Ремонт': 'repair',
                   'Площадь комнат, м2': 'area_rooms_m2',
                   'Балкон': 'balcony',
                   'Окна': 'windows',
                   'Санузел': 'bathroom',
                   'Можно с детьми/животными': 'children_pets',
                   'Дополнительно': 'optional',
                   'Название ЖК': 'complex_name',
                   'Серия дома': 'house_series',
                   'Высота потолков, м': 'сeiling_height_m',
                   'Лифт': 'elevator',
                   'Мусоропровод': 'trash_chute',
                   },
          inplace=True)

In [17]:
# проверим все ли записи столбца 'id объявления' уникальны
df['id_ads'].nunique() == df.shape[0]

True

In [18]:
# проверяем, что в столбце представлен только один тип недвижимости
df['type'].value_counts() == df.shape[0]

type
Квартира    True
Name: count, dtype: bool

In [19]:
pd.set_option('display.max_columns', None)
df.head(2)

,id_ads,number_rooms,type,subway,address,area_m2,house,parking,price,phones,description,repair,area_rooms_m2,balcony,windows,bathroom,children_pets,optional,complex_name,house_series,сeiling_height_m,elevator,trash_chute
0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет

In [20]:
# поработаем с первым столбцом Число комнат
df['count_rooms'] = df.number_rooms.astype(str).apply(lambda x: x[0])
df.loc[df.count_rooms == 'n', 'count_rooms'] = 0
df['count_rooms'] = pd.to_numeric(df['count_rooms'])

In [21]:
df['number_rooms'].fillna(value=0, inplace=True)

/tmp/ipykernel_6161/4232077048.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['number_rooms'].fillna(value=0, inplace=True)

In [22]:
def add_str(txt: str) -> str:
  lst = txt.split(',')
  if len(lst) == 1:
    lst.append('Неизвестно')
  return ', '.join(lst)

In [23]:
df['number_rooms'] = df.number_rooms.astype(str).apply(lambda x: add_str(x))
df['type_rooms'] = df.number_rooms.astype(str).apply(lambda x: x.split(',')[1])

In [24]:
df.head(2)

,id_ads,number_rooms,type,subway,address,area_m2,house,parking,price,phones,description,repair,area_rooms_m2,balcony,windows,bathroom,children_pets,optional,complex_name,house_series,сeiling_height_m,elevator,trash_chute,count_rooms,type_rooms
0,271271157,"4, Неизвестно",Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,4,Неизвестно
1,271634126,"4, Неизвестно",Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,4,Неизвестно

In [25]:
# удаляем обработанный столбец Число комнат и тип
df.drop(columns=['type', 'number_rooms'], axis=1, inplace=True)

In [26]:
# выберем из строки самое большое значение. распределение по площади комнат игнорируем
df['area_m2'] = df.area_m2.astype(str).apply(lambda x: max([float(el) for el in x.split('/')]))

In [27]:
# разобъём столбец Дом на 3 столбца: этаж, кол-во этажей в доме и тип дома
df['house'] = df.house.astype(str).apply(lambda x: add_str(x))
df['floor'] = df.house.astype(str).apply(lambda x: x.split(',')[0][:x.split(',')[0].find('/')])

In [28]:
# в строке 217 этаж равен -1
df.loc[217, 'floor']

'-1'

In [29]:
# выброс -1 изменим на 1
df.loc[217, 'floor'] = 1
df['floor'] = pd.to_numeric(df['floor'])

In [30]:
df['floor_number'] = df.house.astype(str).apply(lambda x: x.split(',')[0][x.split(',')[0].find('/') + 1:])
df['floor_number'] = pd.to_numeric(df['floor_number'])

In [31]:
df['house_type'] = df.house.astype(str).apply(lambda x: x.split(',')[1])

In [32]:
df.drop('house', axis=1, inplace=True)

In [33]:
# Обрабатываем колонку "парковка"
df.parking.fillna('неизвестно', inplace=True)

/tmp/ipykernel_6161/1714489476.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.parking.fillna('неизвестно', inplace=True)

In [34]:
# Аналогичные операции с колонкой "Санузел"
df['bathroom'] = df['bathroom'].fillna('Совмещенный (1)')
df['bathroom_combined'] = [row.split(' ')[1] if (row.split(' ')[0]) == 'Совмещенный' else '(0)' for row in df['bathroom']]
df['bathroom_separate'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Раздельный' else '(0)' for row in df['bathroom']]
df['bathroom_combined'] = [row.split('(')[1] for row in df['bathroom_combined']]
df['bathroom_combined'] = [int(row.split(')')[0]) for row in df['bathroom_combined']]
df['bathroom_separate'] = [row.split('(')[1] for row in df['bathroom_separate']]
df['bathroom_separate'] = [int(row.split(')')[0]) for row in df['bathroom_separate']]
df = df.drop(['bathroom'], axis = 1)

In [35]:
# обработаем столбец 'Лифт', разделим его на столбцы пасс. и  груз.
df['elevator'].isnull().sum()

np.int64(5500)

In [36]:
df['elevator'].fillna('Пасс (0), Груз (0)', inplace=True)

/tmp/ipykernel_6161/2814539709.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['elevator'].fillna('Пасс (0), Груз (0)', inplace=True)

In [37]:
df['elevator_passenger'] = [row.split(' ')[1] if (row.split(' ')[0]) == 'Пасс' else '(0)' for row in df['elevator']]
df['elevator_freight'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Груз' else '(0)' for row in df['elevator']]

In [38]:
# Формируем столбцы
df['elevator_passenger'] = [row.split('(')[1] for row in df['elevator_passenger']]
df['elevator_passenger'] = [int(row.split(')')[0]) for row in df['elevator_passenger']]
df['elevator_freight'] = [row.split('(')[1] for row in df['elevator_freight']]
df['elevator_freight'] = [int(row.split(')')[0]) for row in df['elevator_freight']]
df = df.drop(['elevator'], axis = 1)

In [39]:
# Обрабатываем колонку "балкон"
df['balcony'].fillna('Балкон (0), Лоджия (0)', inplace=True)

/tmp/ipykernel_6161/2743478637.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['balcony'].fillna('Балкон (0), Лоджия (0)', inplace=True)

In [40]:
df['loggia_count'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Лоджия' else '(0)' for row in df['balcony']]
df['balcony_count'] = [row.split(' ')[1] if row.split(' ')[0] == 'Балкон' else '(0)' for row in df['balcony']]

In [41]:
# Корректируем значения, избавляясь от скобок и переделывая из str в int
df['loggia_count'] = [row.split('(')[1] for row in df['loggia_count']]
df['loggia_count'] = [int(row.split(')')[0]) for row in df['loggia_count']]
df['balcony_count'] = [row.split('(')[1] for row in df['balcony_count']]
df['balcony_count'] = [int(row.split(')')[0]) for row in df['balcony_count']]

df.drop('balcony', axis=1, inplace=True)

In [42]:
df['сeiling_height_m'].fillna(df['сeiling_height_m'].median(), inplace=True)

/tmp/ipykernel_6161/1132330598.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['сeiling_height_m'].fillna(df['сeiling_height_m'].median(), inplace=True)

In [43]:
# обработаем колонку 'мусоропровод'
df['trash_chute'].fillna('Нет', inplace=True)
df['trash_chute'] = df['trash_chute'].map({'Да': '1', 'Нет': '0'}).astype(int)

/tmp/ipykernel_6161/281109190.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['trash_chute'].fillna('Нет', inplace=True)

In [44]:
def pred_window(value: str) -> tuple:
  if value == 'На улицу и двор':
      return (1, 1)
  elif value == 'Во двор':
      return (0, 1)
  elif value == 'На улицу':
      return (1, 0)
  return (0, 0)

In [45]:
df[['windows_street', 'windows_yard']] = df['windows'].apply(lambda x: pd.Series(pred_window(x)))
df.drop('windows', axis=1, inplace=True)

In [46]:
# удалим ненужные столбцы
df.drop(columns=['complex_name', 'house_series'], axis=1, inplace=True)

In [47]:
df['repair'].fillna('Без ремонта', inplace=True)

/tmp/ipykernel_6161/649805367.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['repair'].fillna('Без ремонта', inplace=True)

In [48]:
def pred_child_pets(value: str) -> tuple:
  if value == 'Можно с детьми, Можно с животными':
      return (1, 1)
  elif value == 'Можно с детьми':
      return (0, 1)
  elif value == 'Можно с животными':
      return (1, 0)
  return (0, 0)

In [49]:
# разобъём столбец Можно с детьми/животными на два
df[['with_child', 'with_pets']] = df['children_pets'].apply(lambda x: pd.Series(pred_child_pets(x)))
df.drop('children_pets', axis=1, inplace=True)

In [50]:
# удаляем ненужные столбцы
df.drop(columns=['phones', 'description', 'area_rooms_m2'], axis=1, inplace=True)

In [51]:
def sale(text: str) -> float:
  if text.split(' ')[1] == 'руб.':
    result = float(text.split(' ')[0])
  elif text.split(' ')[1] == '$':
    result = float(text.split(' ')[0]) * 99.98
  elif text.split(' ')[1] == '€':
    result = float(text.split(' ')[0]) * 103.99
  return result

In [52]:
# расмотрим столбец Цена
df['price_month'] = df.price.astype(str).apply(lambda x: x.split(',')[0][:x.split(',')[0].find('/')])
df['price_month'] = df.price_month.apply(lambda x: sale(x))
df['price_month'] = pd.to_numeric(df['price_month'])

In [53]:
def deposit(data: pd.DataFrame) -> str:
    out_str = ''
    for el in data.split(','):
        if "Залог" in el:
            if '$'in el:
                out_str += str(float(el[el.find('-') + 1: el.find('$')]) * 99.98)
            elif '€' in el:
                out_str += str(float(el[el.find('-') + 1: el.find('€')]) * 103.99)
            else:
                out_str += el[el.find('-') + 1: el.find('р')]
    return out_str

In [54]:
df['price_deposit'] = df.price.astype(str).apply(deposit)
df['price_deposit'] = pd.to_numeric(df['price_deposit'])

In [55]:
df['price_deposit'].fillna(0, inplace=True)

/tmp/ipykernel_6161/53370475.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price_deposit'].fillna(0, inplace=True)

In [56]:
# создадим столбец Коммунальные платежи. Если они включены, то при ровняем к 0. Если нет, то запишем сумму в столбец
def utility_bills(data: pd.DataFrame) -> str:
  result = ''
  for el in data.split(','):
    if 'Сумма коммунальных платежей' in el:
      result = el[el.find('-') + 1 : el.find('р')]
    elif 'Коммунальные услуги включены' in el:
      result = '0'
  return result

In [57]:
df['communal'] = df.price.astype(str).apply(utility_bills)
df.loc[df['communal'] == '','communal'] = 0
df['communal'] = pd.to_numeric(df['communal'])

In [58]:
def prepayment_pres(data: pd.DataFrame) -> str:
  result = ''
  for el in data.split(','):
    if 'Предоплата' in el:
      result = el[el.find('а') + 4 : el.find('м')]
    else:
      result = '0'
  return result

In [59]:
df['prepayment'] = df.price.astype(str).apply(prepayment_pres)
df['prepayment'] = pd.to_numeric(df['prepayment'])

In [60]:
def lease_period(data: pd.DataFrame) -> str:
  result = ''
  for el in data.split(','):
    if 'Срок аренды' in el:
      result = el[el.find('-') + 1:]
  return result

In [61]:
df['period'] = df.price.astype(str).apply(lease_period)

In [62]:
df.drop('price', axis=1, inplace=True)

In [63]:
# почистим данные, оставим только Москву
df = df[df['address'].str.contains('Москва')]

In [64]:
# избавимся также и от адресов из Зеленограда
df = df[~df['address'].str.split(',').str[1].str.contains('Зеленоград')]

In [65]:
# оставляем только название метро в столбце Метро
df['subway_name'] = df.subway.astype(str).apply(lambda x: x.split('(')[0][x.split('(')[0].strip().find('.') + 1:].strip())
df.loc[df['subway_name'] == 'n', 'subway_name'] = np.nan

In [66]:

translate = {
    'Мебель в комнатах': 'is_room_furniture',
    'Мебель на кухне': 'is_kitchen_furniture',
    'Ванна': 'is_bathtub',
    'Душевая кабина': 'is_shower_cabin',
    'Стиральная машина': 'is_washing_machine',
    'Кондиционер': 'is_air_conditioner',
    'Посудомоечная машина': 'is_dishwasher',
    'Телевизор': 'is_tv',
    'Холодильник': 'is_refrigerator',
    'Интернет': 'is_internet',
    'Телефон': 'is_phone',
}

In [67]:
# вытащим все, что можно из столбца Дополнительно
# df.optional.unique()

all_result = set()

# пройдёмся по каждой строке, выделим уникальные значения
for items in df['optional'].dropna():
  for el in items.split(', '):
    all_result.add(el)

In [68]:
# создадим словарь
translate = {
    'Ванна': 'is_bathtub',
    'Душевая кабина': 'is_shower_cabin',
    'Интернет': 'is_internet',
    'Кондиционер': 'is_air_conditioner',
    'Мебель в комнатах': 'is_room_furniture',
    'Мебель на кухне': 'is_kitchen_furniture',
    'Посудомоечная машина': 'is_dishwasher',
    'Стиральная машина': 'is_washing_machine',
    'Телевизор': 'is_tv',
    'Телефон': 'is_phone',
    'Холодильник': 'is_refrigerator',
}

# Для каждого уникального значения создаем отдельную колонку в таблице с переводом
for el in all_result:
    if el in translate:
        name = translate[el]
        df[name] = df['optional'].apply(lambda x: 1 if pd.notna(x) and el in x else 0)
    else:
        # Если нет перевода, используем оригинальное название
        name = el.lower().replace(' ', '_')
        df[name] = df['optional'].apply(lambda x: 1 if pd.notna(x) and el in x else 0)

In [69]:
# удалим столбцы
df.drop('optional', axis=1, inplace=True)

In [70]:
# удалить объявления, где залог больше цены в месяц в 2 и более раз
df = df[~(df['price_month'] * 2 < df['price_deposit'])]

In [71]:
# обработаем выброс в столбце Высота потолка
height_mean = df['сeiling_height_m'].mean()
height_std = df['сeiling_height_m'].std()

# определим границы на
lower = height_mean - 3*height_std
upper = height_mean + 3*height_std

In [72]:
df = df[(df['сeiling_height_m'] >= lower) & (df['сeiling_height_m'] <= upper)]

In [73]:
# удаляем все строки где предоплата больше чем за 1 месяц
df = df[~(df['prepayment'] > 1)]

In [74]:
df.drop(columns=['address', 'subway'], axis=1, inplace=True)

In [75]:
def type_rooms_house(value: str) -> tuple:
  if value == 'Оба варианта':
    return (1, 1)
  elif value == 'Изолированная':
    return (1, 0)
  elif value == 'Смежная':
    return (0, 1)
  elif value == 'Неизвестно':
    return (0, 0)
  return (0, 0)

In [76]:
df[['isolated_rooms', 'adjoining_rooms']] = df['type_rooms'].apply(lambda x: pd.Series(type_rooms_house(x)))
df.drop('type_rooms', axis=1, inplace=True)

In [77]:
# Естественно-упорядоченными данными в датафрейме является колонка period
# и renovation для нее можно использовать метод Label Encoding
le = LabelEncoder()
df['period'] = le.fit_transform(df['period'])

In [78]:
df['repair'] = le.fit_transform(df['repair'])
df['parking'] = le.fit_transform(df['parking'])

In [79]:
df['subway_name'] = df['subway_name'].map(df['subway_name'].value_counts(normalize=True))
df['house_type'] = df['house_type'].map(df['house_type'].value_counts(normalize=True))

In [80]:
df['price_per_month'] = df['price_month']
df.drop('price_month', axis=1, inplace=True)

In [81]:
df.head(2)

,id_ads,area_m2,parking,repair,сeiling_height_m,trash_chute,count_rooms,floor,floor_number,house_type,bathroom_combined,bathroom_separate,elevator_passenger,elevator_freight,loggia_count,balcony_count,windows_street,windows_yard,with_child,with_pets,price_deposit,communal,prepayment,period,subway_name,is_washing_machine,is_shower_cabin,is_refrigerator,is_kitchen_furniture,is_internet,is_phone,is_dishwasher,is_air_conditioner,is_tv,is_room_furniture,is_bathtub,isolated_rooms,adjoining_rooms,price_per_month
0,271271157,200.0,5,1,3.0,1,4,5,16,0.180595,1,0,4,1,0,0,0,0,1,1,500000.0,0.0,1,0,0.0067,1,1,1,1,1,1,1,1,1,1,1,0,0,500000.0
1,271634126,198.0,5,1,3.5,0,4,5,16,0.044201,2,1,1,1,0,0,1,1,0,1,500000.0,0.0,1,0,0.0067,1,1,1,1,1,0,1,1,1,1,1,0,0,500000.0

In [82]:
df.shape

(19253, 39)

In [83]:
df.to_csv('../../data/result.csv')