### Препроцессинг

1. Импортируем библиотеки

In [132]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/_data.csv')

In [3]:
df = data.copy()

##### 1. Удаляем не нужный столбец Unnamed: 0 и реиндескируем данные

In [5]:
df = df.drop(columns=['Unnamed: 0']).reset_index(drop=True)

##### 2. Поскольку в столбце "Тип" представлен только один тип недвижимости - квартира, пропусков в данных нет, то - удаляем.

In [6]:
# Проверяем на наличие пропусков в данных 
df[['Тип']].isnull().sum()

Тип    0
dtype: int64

In [7]:
# Перепроверяем себя, убеждаемся, что в столбце одно значение 
# и его количество равно количеству строк в датасете
df[['Тип']].value_counts() == df.shape[0]

Тип
Квартира    True
Name: count, dtype: bool

In [8]:
df = df.drop(['Тип'], axis=1)

3. Приводим столбец Площадь в соответствие. Оставляем только общую площадь квартиры и переводим тип данных столбеца в число

In [37]:
# Проверяем на пропуски
df['Площадь, м2'].isnull().sum()

np.int64(0)

In [44]:
df['Площадь, м2'] = df['Площадь, м2'].str.split('.').str[0].astype(int)

In [48]:
# Проверяем на NaN
df['Площадь, м2'].isnull().sum()

np.int64(0)

4. Дом

In [ ]:
# data[['Дом']] - ??

5. Обрабатываем пропуски в стобце Парковка

In [50]:
# Смотрим на значения в строках столбца Парковка
data[['Парковка']].value_counts()

Парковка
наземная          6043
подземная         2772
открытая          1017
многоуровневая     118
на крыше             1
Name: count, dtype: int64

In [51]:
# Проверяем на наличие NaN
data[['Парковка']].isnull().sum()

Парковка    13417
dtype: int64

In [54]:
data[['Парковка']] = data[['Парковка']].fillna('не указано')

In [55]:
# Перепроверяем данные
data[['Парковка']].isnull().sum()

Парковка    0
dtype: int64

In [56]:
df.head(2)

,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126

6. На наше исследование столбец Телефоны не влияет, поэтому - удален.

In [59]:
df = df.drop(columns=['Телефоны'])

7. Столбец Описание нам, также не нужен

In [60]:
df = df.drop(columns=['Описание'])

8. Проверяем столбец Мусоропровод на пропуски и заменяем их

In [64]:
df[['Мусоропровод']].isnull().sum()

Мусоропровод    10522
dtype: int64

In [67]:
df[['Мусоропровод']].value_counts()

Мусоропровод
Да              10897
Нет              1949
Name: count, dtype: int64

In [69]:
df[['Мусоропровод']] = df[['Мусоропровод']].fillna('Нет')

In [71]:
# Перепроверяем себя
df[['Мусоропровод']].value_counts()

Мусоропровод
Нет             12471
Да              10897
Name: count, dtype: int64

In [72]:
df[['Мусоропровод']].isnull().sum()

Мусоропровод    0
dtype: int64

9. Удаляем столбец Ссылка на объявление, поскольку не представляет интереса

In [74]:
df['Ссылка на объявление'].isnull().sum()

np.int64(0)

In [75]:
df = df.drop(columns=['Ссылка на объявление'])

10. Лифт -- ?

In [78]:
df['Лифт'].isnull().sum()

np.int64(5500)

11. Проверяем столбец Можно с детьми/животными

In [128]:
df[['Можно с детьми/животными']].value_counts()

Можно с детьми/животными
Можно с детьми                       10134
Можно с детьми, Можно с животными     6899
Можно с животными                      239
Name: count, dtype: int64

In [129]:
df[['Можно с детьми/животными']].isnull().sum()

Можно с детьми/животными    6096
dtype: int64

In [131]:
df['Можно с детьми/животными'] = df['Можно с детьми/животными'].fillna('нельзя')

In [76]:
df.columns

Index(['ID  объявления', 'Количество комнат', 'Метро', 'Адрес', 'Площадь, м2',
       'Дом', 'Парковка', 'Цена', 'Ремонт', 'Площадь комнат, м2', 'Балкон',
       'Окна', 'Санузел', 'Можно с детьми/животными', 'Дополнительно',
       'Название ЖК', 'Серия дома', 'Высота потолков, м', 'Лифт',
       'Мусоропровод'],
      dtype='object')

In [13]:
data[['Серия дома']].value_counts()

Серия дома
индивидуальный проект    615
Индивидуальный проект    139
П44                       89
П44Т                      63
монолит                   38
                        ...
корабль                    1
(II-49/Ю вариант П)        1
элит                       1
п 44                       1
п 44К                      1
Name: count, Length: 393, dtype: int64

In [15]:
data[['Серия дома']].isnull().sum() - data.shape[0]

Серия дома   -2163
dtype: int64

In [16]:
data[['Метро']].value_counts()

Метро
м. Академическая (10 мин пешком)                  41
м. Водный стадион (5 мин пешком)                  40
м. Приморская (None мин пешком)                   35
м. Щелковская (15 мин пешком)                     34
м. Динамо (7 мин пешком)                          33
                                                  ..
м. Автово (0 мин на машине)                        1
м. улица Народного ополчения (6 мин на машине)     1
м. улица Народного ополчения (8 мин на машине)     1
м. Авиамоторная (10 мин на машине)                 1
м. Авиамоторная (1 мин пешком)                     1
Name: count, Length: 5866, dtype: int64

In [20]:
data[['Адрес']].value_counts()

Адрес
Москва, Чапаевский переулок, 3        63
Москва, улица Василисы Кожиной, 13    46
Москва, улица 1-я Леонова, 18         42
Москва, Мосфильмовская улица, 8       37
Москва, Гостиничный проезд, 8К1       32
                                      ..
Москва, Планерная улица, 12К6          1
Москва, Планерная улица, 14К5          1
Москва, Планерная улица, 16К1          1
Москва, Планерная улица, 16К3          1
Москва, Пинский проезд, 4              1
Name: count, Length: 12850, dtype: int64

In [21]:
data[['Адрес']].isnull().sum()

Адрес    0
dtype: int64

In [27]:
data[['Окна']].value_counts()

Окна
Во двор            10870
На улицу и двор     3295
На улицу            2590
Name: count, dtype: int64

In [28]:
data[['Окна']].isnull().sum()

Окна    6613
dtype: int64

In [29]:
data[['Санузел']].value_counts()

Санузел
Совмещенный (1)                    10078
Раздельный (1)                      7158
Совмещенный (2)                     1437
Совмещенный (1), Раздельный (1)      812
Раздельный (2)                       534
Совмещенный (3)                      241
Совмещенный (2), Раздельный (1)      188
Совмещенный (4)                       77
Раздельный (3)                        52
Совмещенный (1), Раздельный (2)       30
Совмещенный (3), Раздельный (1)       27
Совмещенный (2), Раздельный (2)       25
Раздельный (4)                        15
Совмещенный (3), Раздельный (3)        6
Совмещенный (4), Раздельный (1)        6
Совмещенный (4), Раздельный (2)        4
Совмещенный (2), Раздельный (3)        2
Совмещенный (1), Раздельный (3)        2
Совмещенный (3), Раздельный (2)        1
Совмещенный (2), Раздельный (4)        1
Name: count, dtype: int64

In [30]:
data[['Санузел']].isnull().sum()

Санузел    2672
dtype: int64

In [34]:
# del 'Телефоны' 'Описание' 'Площадь комнат, м2' 'Дополнительно' 
# task 'Ремонт' [0 - Без ремонта, 1 - Косметический, 2 - Евроремонт, 3 - Дизайнерский] 
# 'Балкон' [0, 1] 'Санузел' [Совмещенный - 0, Раздельный - 1, Совмещенный, Раздельный - 2]
# 'Можно с детьми/животными' [не указано - 0, Можно с детьми/Можно с животными - 1,  Можно с детьми и Можно с животными - 2]


# "Окна' Во двор - 0 На улицу - 1 На улицу и двор - 2

# исходя из названия и адреса находим метро